<div class="components">
    <div style="padding: 10px;">
    <span>cinema name</span>
    <input [(ngModel)]="cinema.cinemaName">
</div>
<div style="padding: 10px;">
    <span>email </span>
    <input [(ngModel)]="cinema.email">
</div>
<div style="padding: 10px;">
    <span>address </span>
    <input [(ngModel)]="cinema.address">
</div>
<div style="padding: 10px;">
    <span>phone </span>
    <input [(ngModel)]="cinema.phone">
</div>
<div style="padding: 10px;">
    <span>halls </span>
    <input [(ngModel)]="cinema.halls">
</div>
<button mat-raised-button color="primary" (click)="add()">Add</button>
</div>