<div class="components">
<div style="padding: 10px;">
    <span>cinema name</span>
    <input [(ngModel)]="projection.cinemaName">
</div>
<div style="padding: 10px;">
    <span>movie name</span>
    <input [(ngModel)]="projection.movieName">
</div>
<div style="padding: 10px;">
    <span>hall name</span>
    <input [(ngModel)]="projection.hallName">
</div>
<div style="padding: 10px;">
    <span>projection date</span>
    <input [(ngModel)]="projection.date">
</div>
<button mat-raised-button color="primary" (click)="add()">Add</button>

</div>