<div style="padding: 10px;">
    <span>cinema name</span>
    <input [(ngModel)]="projection.cinema_name">
</div>
<div style="padding: 10px;">
    <span>movie name</span>
    <input [(ngModel)]="projection.movie_name">
</div>
<div style="padding: 10px;">
    <span>hall name</span>
    <input [(ngModel)]="projection.hall_name">
</div>
<div style="padding: 10px;">
    <span>projection date</span>
    <input [(ngModel)]="projection.date">
</div>
<button mat-raised-button color="primary" (click)="add()">Add</button>

