<body class="page">
<mat-card class="title">Cinema App</mat-card>

<button mat-raised-button class="buttons" (click)="searchCinemas()">Get cinemas</button>
<button mat-raised-button  class="buttons" (click)="showAddCinemas()">Add cinema</button>
<button mat-raised-button class="buttons" (click)="searchProjections()">Get projections</button>
<button mat-raised-button  class="buttons" (click)="showAddProjections()">Add projection</button>
<button mat-raised-button  class="buttons" (click)="searchMovies()">Get movies</button>
<button mat-raised-button  class="buttons" (click)="showAddMovies()">Add movie</button>


<app-add-movie *ngIf="addMovie"
(addMovie)=addNewMovie($event)
>
</app-add-movie>

<app-add-cinema *ngIf="addCinema"
(addCinema)=addNewCinema($event)
></app-add-cinema>


<app-add-projection *ngIf="addProjection"
(addProjection)=addNewProjection($event)
></app-add-projection>

<div class="container">
<app-movie
class="projection"
*ngFor="let m of movies"
[name]="m.name"
[actors]="m.actors"
[description]="m.description"
[format]="m.format"
[genre]="m.genre"
[premiere]="m.premiere"
(deleteEvent)=deleteMovie($event)
></app-movie>
</div>

<div class="container">
<app-cinema
class="projection"
*ngFor="let c of cinemas"
[cinemaName]="c.cinemaName"
[email]="c.email"
[address]="c.address"
[phone]="c.phone"
[halls]= "c.halls"
[projections]="c.projections"
(deleteEvent)=deleteCinema($event)
></app-cinema>
</div>


<div class="container">
<app-projection 
class="projection"
*ngFor="let projection of projections"
[projectionId]="projection.projectionId"
[cinemaName]="projection.cinemaName"
[movieName]="projection.movieName"
[hallName]="projection.hallName"
[date]="projection.date"
(deleteEvent)=deleteProjection($event)
></app-projection>
</div>

</body>